// Write your overrides
.header-logo img {
  width: 121px;

  @media (max-width: 900px) {
    width: 95px;
  }
}

.mobile-nav-sheet {
  background-color: #fff;
  padding: 32px 24px;
  flex-direction: column;
}

div.v-avatar {
  img.v-img__img {
    object-fit: cover;
  }
}

.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-group
  .nav-link
  .nav-item-icon,
.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-group
  .nav-group
  .nav-item-icon,
.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-group
  .nav-link
  .nav-item-icon {
  font-size: 24px;
}

.layout-content-width-boxed .layout-page-content {
  max-inline-size: 1800px;
}

.layout-wrapper.layout-nav-type-vertical .layout-navbar.navbar-blur::after {
  background: none !important;
}

.layout-content-width-boxed.layout-wrapper.layout-nav-type-vertical
  .layout-navbar,
.layout-content-width-boxed.layout-wrapper.layout-nav-type-vertical
  .layout-footer {
  max-inline-size: 1800px;
}

.text-primary:hover {
  color: #9966ff !important;
}

.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-group
  .nav-group
  .nav-link
  .nav-item-icon,
.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-group
  .nav-group
  .nav-group
  .nav-item-icon {
  margin-inline-start: 1.25rem;
  visibility: visible;
}

.w-0 {
  width: 0%;
}

.w-5 {
  width: 5%;
}

.w-15 {
  width: 15%;
}

.w-20 {
  width: 20%;
}

.w-30 {
  width: 30%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

// Custom Margins and Paddings
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.v-tab.v-tab.v-tab {
  height: var(--v-tabs-height) !important;
}

.v-btn {
  border-radius: 48px !important;
  height: 50px !important;
  text-transform: none !important;
}

body .v-dialog .v-dialog-close-btn {
  border-radius: 0.375rem !important;
  height: calc(var(--v-btn-height) + 0px) !important;
}

.v-card {
  border-radius: 24px !important;
  box-shadow: none !important;
}

.mobile-nav-menu .v-card {
  border-radius: 24px 24px 0 0 !important;
}

.navbar-content-container {
  border-radius: 24px;
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.2);
}
.v-btn--icon.v-btn--density-default {
  width: 48px !important;
  height: 48px !important;
}

.v-btn--icon.v-btn--density-comfortable {
  width: 48px !important;
  height: 48px !important;
}

.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-link
  > a:not(.router-link-active, .router-link-exact-active):hover::before {
  opacity: 0.5 !important;
}

@font-face {
  font-family: "Gelion Regular";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Gelion-Regular.ttf") format("truetype");
  font-display: swap;
}

/* DM Sans fonts */

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 100;
  src: url("/src/assets/fonts/DMSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/DMSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/DMSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/src/assets/fonts/DMSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/src/assets/fonts/DMSans-VariableFont.ttf") format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 100;
  src: url("/src/assets/fonts/DMSans-Italic-VariableFont.ttf")
    format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/DMSans-Italic-VariableFont.ttf")
    format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 500;
  src: url("/src/assets/fonts/DMSans-Italic-VariableFont.ttf")
    format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 600;
  src: url("/src/assets/fonts/DMSans-Italic-VariableFont.ttf")
    format("truetype");
}

@font-face {
  font-family: "DM Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/src/assets/fonts/DMSans-Italic-VariableFont.ttf")
    format("truetype");
}

/* Blauer Nue fonts */

@font-face {
  font-family: "Blauer Nue";
  font-style: normal;
  font-weight: 100;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Thin.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: normal;
  font-weight: 200;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Extralight.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: normal;
  font-weight: 300;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Light.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Medium.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: normal;
  font-weight: 600;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Semibold.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: normal;
  font-weight: 700;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Bold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: italic;
  font-weight: 100;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Thin-Italic.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: italic;
  font-weight: 200;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Extralight-Italic.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: italic;
  font-weight: 300;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Light-Italic.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: italic;
  font-weight: 400;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Regular-Italic.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: italic;
  font-weight: 500;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Medium-Italic.otf")
    format("opentype");
}

@font-face {
  font-family: "Blauer Nue";
  font-style: italic;
  font-weight: 700;
  src: url("/src/assets/fonts/Blauer-Nue/Blauer-Nue-Bold-Italic.otf")
    format("opentype");
}

body {
  font-family: "DM Sans", Arial, sans-serif !important;
}

.font-blauer {
  font-family: "Blauer Nue", Arial, sans-serif !important;
}

.v-text-field .v-input__details {
  padding-inline-start: 5px !important;
}

.v-text-field .v-input__append {
  margin-inline-start: 2px !important;
}

.v-table > .v-table__wrapper > table > tbody > tr > th,
.v-table > .v-table__wrapper > table > thead > tr > th,
.v-table > .v-table__wrapper > table > tfoot > tr > th {
  user-select: text !important;
}

.v-table > .v-table__wrapper > table > tbody > tr > td,
.v-table > .v-table__wrapper > table > tbody > tr > th,
.v-table > .v-table__wrapper > table > thead > tr > td,
.v-table > .v-table__wrapper > table > thead > tr > th,
.v-table > .v-table__wrapper > table > tfoot > tr > td,
.v-table > .v-table__wrapper > table > tfoot > tr > th {
  padding: 0 16px !important;
}

.v-table > .v-table__wrapper > table > thead > tr > th {
  font-weight: 700;
}

.v-table > .v-table__wrapper > table > tbody > tr > td {
  font-size: 12px;
}

.v-table .v-table__wrapper > table > tfoot > tr > td,
.v-table .v-table__wrapper > table > tfoot > tr > th {
  border-top: 0 !important;
}

.layout-wrapper.layout-nav-type-vertical
  .layout-navbar
  .navbar-content-container {
  background: none !important;
  background-color: transparent !important;
  box-shadow: none !important;

  -webkit-backdrop-filter: none !important;
  backdrop-filter: none !important;

  border: none !important;
  border-radius: 0 !important;
}

.layout-wrapper.layout-nav-type-vertical
  .navbar-blur.layout-navbar
  .navbar-content-container {
  block-size: auto;
}

.layout-wrapper.layout-nav-type-vertical .layout-navbar {
  background: transparent !important;
  box-shadow: none !important;
}

/*Custom Styles*/

.text-aqua {
  color: #008c91;
}

.v-card-title {
  h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #1c2925;
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.v-pagination {
  @media (max-width: 768px) {
    margin-top: 24px;
    margin-bottom: 10px;
  }

  .v-pagination__list {
    gap: 8px;
  }

  .v-btn {
    .v-btn__underlay {
      border: solid 1px #e7e7e7 !important;
      background-color: #fff !important;
      opacity: 1 !important;
    }

    .v-btn__content {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0;
      text-align: center;

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }

  .v-btn--disabled {
    opacity: 1;
  }

  .v-pagination__item,
  .v-pagination__prev,
  .v-pagination__next {
    margin: 0;
  }

  .v-pagination__item--is-active {
    .v-btn {
      .v-btn__underlay {
        border: solid 1px #e7e7e7 !important;
        background-color: #1c2925 !important;
      }

      .v-btn__content {
        color: #57f287 !important;
      }
    }
  }
}

.logo-box {
  position: absolute;
  top: 28px;
  left: 24px;
}

@media (max-width: 991px) {
  .logo-box {
    position: relative;
    top: auto;
    left: auto;
    margin-top: 84px;
    margin-bottom: 41px;
    justify-content: center;

    img {
      width: 104px;
      height: 34px;
    }
  }
}

.bg-white {
  background-color: #fff;
}

.bg-netto {
  background-color: #d8ffe4;
}

.bg-moms {
  background-color: #c6ffeb;
}

.bg-summa {
  background-color: #c0feff;
}

.bg-fakturor {
  background-color: #c6ffeb;
}

.bg-forfallna {
  background-color: #c0feff;
}

.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-link
  > a:not(.router-link-active, .router-link-exact-active):hover::before {
  display: none !important;
}

// Text & Links

.gray-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #454545;
}

.green-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #0d6e2d;
}

// search navbar

.search {
  width: 100% !important;

  .v-field__input {
    height: 48px;
    padding-left: 50px;
    background: url("/src/assets/images/icons/figma/searchIcon.svg") no-repeat
      left 1rem center !important;

    .v-field__outline {
      border: none !important;

      .v-field__outline__start {
      }
      .v-field__outline__end {
      }
    }
  }
}

.visa-select {
  border-radius: 64px;
  padding-right: 16px;
  padding-left: 16px;
  border: 1px solid #e7e7e7;
  font-weight: 400;
  font-size: 16px;
  color: #454545;

  .v-input {
    border-left: 1px solid #e7e7e7 !important;
    padding-left: 16px !important;
  }

  .v-field {
    height: 48px !important;
    padding: 0px !important;

    .v-field__append-inner {
      align-items: center;
      padding-top: 0px !important;
    }

    .v-field__input {
      height: 48px !important;
      padding-inline-start: 0px !important;
      padding-inline-end: 0px !important;
      align-items: center;
      color: #454545;
    }

    .v-field__outline__start,
    .v-field__outline__end {
      border: none !important;
    }
  }
}

@media (min-width: 991px) {
  .w-md-auto {
    width: auto !important;
  }

  .w-md-10 {
    width: 10% !important;
  }

  .w-md-15 {
    width: 15% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .v-table > .v-table__wrapper > table > tbody > tr > td {
    font-size: 14px;
  }
}

.layout-nav-type-vertical
  .layout-vertical-nav
  .nav-group
  .nav-link
  .nav-item-icon {
  margin: 0 !important;
}

.layout-vertical-nav-collapsed .layout-vertical-nav .nav-header {
  justify-content: center;
}

.mobile-menu-full-width {
  width: 100vw !important;
  left: 0 !important;
  right: 0 !important;
  border-radius: 0 !important;
  max-width: 100vw !important;
  bottom: 88px;
  top: auto !important;
}

.mobile-bottom-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: linear-gradient(
    90deg,
    #eafff1 0%,
    #eafff8 50%,
    #ecffff 100%
  ) !important;
  display: flex;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 24px 24px 0px 0px;

  .v-bottom-navigation__content {
    gap: 24px;

    .v-btn {
      height: 72px !important;
      width: 72px !important;

      .v-btn__content {
        gap: 8px;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #1c2925 !important;
      }
    }
  }
}

// Custom CSS

.title-action-buttons {
  @media (max-width: 768px) {
    margin-top: 24px;
    flex-direction: row-reverse;

    > * {
      flex: 1 1;
    }
  }
}

.filter-bar {
  @media (max-width: 768px) {
    justify-content: space-between;
    .search {
      max-width: 250px;
    }
  }
}

.text-pagination-results {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #454545;
}

.status-pill {
  // display: flex;
  border-radius: 32px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 16px;
  border: solid 1px #454545;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #454545;
}

.expansion-panel-item-label {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #878787;
}

.expansion-panel-item-value {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #454545;

  .status-pill {
    display: block;
    width: fit-content;
  }
}

.row-with-buttons {
  display: flex;
  gap: 16px;
  > * {
    flex: 1 1;
  }
}

.title-modal {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #454545;
}

.justify-between {
  justify-content: space-between !important;
}

.flex-1 {
  flex: 1 1;
}

.dialog-bottom-full-width {
  position: fixed !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 100vw !important;
  max-width: 100vw !important;
  margin: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;

  .v-list {
    padding: 32px 12px 14px !important;

    .v-list-item {
      margin-bottom: 18px;
      padding: 0 16px !important;
      gap: 8px;

      font-weight: 500;
      font-size: 14px;
      line-height: 16px;

      color: #454545;

      .v-list-item__prepend > .v-icon {
        margin: 0;
      }
    }
  }
}

.v-list-item--active,
.v-list-item:hover {
  background-color: #f6f6f6 !important;
}

/* Form Field */

.auth-form {
  max-width: 442px;
  width: 100%;
}

@media (max-width: 991px) {
  .auth-form {
    max-width: 344px;
  }
}

.form-field {
  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #454545;
  }
  .v-input {
    &.v-text-field {
      min-width: 422px;
    }
    .v-field {
      height: 48px;
      border-radius: 8px;
      background-color: #f6f6f6;
      border: solid 1px #e7e7e7;

      .v-field__field {
        align-items: center;
      }

      .v-field__append-inner {
        padding: 0;
        align-items: center;
        color: #1c2925;
      }

      .v-field__outline {
        display: none;
      }

      &.v-field--appended {
        padding-inline-end: 16px;
      }
    }
  }

  &.form-field-2fa {
    .v-input {
      &.v-text-field {
        min-width: auto;
      }

      .v-field {
        max-width: 40px;
        height: 48px;
      }
    }
  }
}

.form-field-checkbox {
  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .v-icon {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 991px) {
  .form-field {
    label {
    }
    .v-input {
      &.v-text-field {
        min-width: auto;
        max-width: 345px;
      }
      .v-field {
        height: 48px;
        border-radius: 8px;
        background-color: #f6f6f6;
        border: solid 1px #e7e7e7;

        .v-field__field {
          align-items: center;
        }

        .v-field__append-inner {
          padding: 0;
          align-items: center;
          color: #1c2925;
        }

        .v-field__outline {
          display: none;
        }
      }
    }
  }

  .form-field-checkbox {
    label {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    .v-icon {
      width: 24px;
      height: 24px;
    }
  }
}
