.layout-blank {
  .auth-wrapper {
    min-block-size: calc(var(--vh, 1vh) * 100);
    background-image: url("@images/pages/auth-bg.png");
    background-position: center center;
  }

  .auth-wrapper-2fa {
    background: #57F287;
    min-block-size: calc(var(--vh, 1vh) * 100);
  }

  .auth-bg {
    background-color: rgb(var(--v-theme-background));
  }

  .auth-v1-top-shape,
  .auth-v1-bottom-shape {
    position: absolute;
    block-size: 233px;
    inline-size: 238px;
  }

  .auth-footer-mask {
    position: absolute;
    inset-block-end: 0;
    min-inline-size: 100%;
  }

  .auth-card {
    z-index: 1 !important;
  }

  .auth-illustration {
    z-index: 1;
  }

  .auth-v1-top-shape {
    inset-block-start: -93px;
    inset-inline-start: -100px;
  }

  .auth-v1-bottom-shape {
    inset-block-end: -86px;
    inset-inline-end: -77px;
    transform: rotate(90deg);
    transition: transform 0.5s ease;
  }
}

@media (min-width: 960px) {
  .skin--bordered {
    .auth-card-v2 {
      border-inline-start: 1px solid rgba(var(--v-border-color), var(--v-border-opacity));
    }
  }
  .layout-blank {
    .auth-wrapper {
      background-image: url("@images/pages/auth-bg.png");
      background-position: center center;
    }
  }
}
